{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% trans "Forgot your password?" %} - www.alter-link.com
{% endblock title %}

{% block body %}

<h1>{% trans "Forgot your password?" %}</h1>
<p>{% trans "Enter your email address below and we'll email you instructions for setting a new one." %}</p>
<p>{% trans "Remember: if your account was created using social authentication (i.e. Google log in) you will not receive an email for reseting password. Instead you should log in by your social account." %}</p>

<form method="post" novalidate>
    {% csrf_token %}
    <table class="table table-sm">
        <tr>
            <div>{{ form|crispy }}</div>
        </tr>
    </table>

    <div class="row mt-1">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <input class="btn btn-success" type="submit" value="{% trans "Reset my password" %}">
        </div>
    </div>
</form>


{% endblock body %}
