{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% trans "Set new password" %} - www.alter-link.com
{% endblock title %}

{% block body %}

<h1>{% trans "Set your new password" %}</h1>

<form method="post" novalidate>
    {% csrf_token %}
    <table class="table table-sm">
        <tr>
            <div>{{ form|crispy }}</div>
        </tr>
    </table>

    <div class="row mt-1">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <input class="btn btn-success" type="submit" value="{% trans "Change my password" %}">
        </div>
    </div>
</form>


{% endblock body %}
