{% load i18n %}

{% autoescape off %}


{% comment %} left for checking if user was sign in by social account if so it's password cannot be reset. But for now this not working because emails for this kind of users are not send.  {% endcomment %}
{% if user.is_authenticated and not backends.associated %} 
    {% comment %} this is default option and only this should be used until above problem will be solved {% endcomment %}
    {% trans "You are reciving this email because you used reset password option for your account on alter-link.com" %}
    {% trans "In case you forgot your username is: " %}{{ user.get_username }}
    {% trans "Click the link below to reset password" %}:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    {% trans "If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead." %}

    {% trans "All the best" %},
    {% trans "The alter-link.com Team" %} 

{% elif user.is_authenticated and backends.associated %}

    {% trans "You are reciving this email because you used reset password option for your account on alter-link.com" %}

    {% trans "We cannot provide you reset link because your account was created by social authetication. You should use social log in option: " %} {{ user.social_auth.provider }}


    {% trans "All the best" %},
    {% trans "The alter-link.com Team" %} 

 {% else %}

    {% trans "Something went wrong. Please contact us and describe situation." %}

 {% endif %}

{% endautoescape %}